html, body {
    display: block;
    margin: 0 auto;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Raleway', sans-serif;
    width: 600px;
    color: #141414;
} 

header {
    height: 167px;
}

.header-img {
    position: absolute;
    width: 600px;
    height: 167px;
}

h1 {
    top: 70px;
    left: 30px;
    margin: 0;
    position: relative;
    color: #2b2b2b;
    font-size: 48px;
    text-shadow: 2px 0 #e2e2e2, -2px 0 #e2e2e2, 0 2px #e2e2e2, 0 -2px #e2e2e2,
             1px 1px #e2e2e2, -1px -1px #e2e2e2, 1px -1px #e2e2e2, -1px 1px #e2e2e2;
}

h2 {
    top: 40px;
    left: 31px;
    position: relative;
    color: whitesmoke;
    text-shadow: 2px 0 #101010, -2px 0 #101010, 0 2px #101010, 0 -2px #101010,
             1px 1px #101010, -1px -1px #101010, 1px -1px #101010, -1px 1px #101010;
}

h4 {
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    margin: 0;
}

section {
    background-color: #fffaf1;
}

.container {
    width: 550px;
    margin: 0 auto;
    position: relative;
}

.menus {
    padding: 10px 0;
}

.menu {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 15px 0;
    border-bottom: 1px solid gray;
}

.menu-img {
    width: 70px;
    border-radius: 10px;
}

button.add-button {
    border: 1px solid #b9b9b9;
    border-radius: 50%;
    background-color: #fffaf1;
    height: 40px;
    cursor: pointer;
    margin-left: 45px;
}

ul {
    width: 100%;
    list-style-type: none;
}

li {
    font-size: 12px;
}

li.bold {
    font-weight: 700;
    font-size: 20px;
}

.item-wrapper {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* Shopping cart */
.order-title {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}

.shopping-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-name {
    font-weight: 700;
}

.remove-btn {
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
    color: #969696;
}

.price-order {
    display: flex;
    justify-content: end;
    align-items: center;
}

.order-price {
    width: 20px;
}

.empty-order {
    text-align: center;
    font-size: 25px;
    padding-bottom: 15px;
}

.total-price {
    font-size: 25px;
}

small {
    padding-right: 10px;
    color: #969696
}

.summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #969696;
}

/* footer */
.footer {
    height: 70px;
}

button.checkout {
    font-weight: 700;
    width: 100%;
    padding: 10px 0px;
    background-color: antiquewhite;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* modal */
.payment, .thanks {
    position: absolute;
    top: 70px;
    left: 60px;
    width: 400px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px;
    box-shadow:
        0px 0px 3.7px rgba(0, 0, 0, 0.139),
        0px 0px 9px rgba(0, 0, 0, 0.17),
        0px 0px 16.9px rgba(0, 0, 0, 0.184),
        0px 0px 30.2px rgba(0, 0, 0, 0.193),
        0px 0px 56.4px rgba(0, 0, 0, 0.204),
        0px 0px 135px rgba(0, 0, 0, 0.25);
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.label {
    display: flex;
    padding-bottom: 20px;
    width: 300px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
    background-color: antiquewhite;
}

button.close {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    background-color: #fffaf1;
    border: none;
    border-radius: 5px;
    width: 30px;
    border: 1px solid gray;
}

.pay-btn {
    padding: 5px;
    background-color: #fffaf1;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100px;
    margin: 0 auto;
}

.thanks {
    text-align: center;
    padding: 30px;
    max-width: 400px;
    left: 50px;
}

.pirate {
    border-radius: 10px;
    padding-bottom: 20px;
}

/* utility */
.hidden{
    display: none;
}